html {
    width: 100%;
    height: 100%;
}

body {
    background-image:url(../image/error.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-resolution: 1000dpi;
}